/*
	Example Project Stylesheet
	First & Last Name
	Class, Term Year
*/

* {
	box-sizing: border-box;
}

/* setting relative units for type styles*/

html {
 font-size: 16px;
	

}

body {
	width: 100%;
	max-width: 1016px;
	font-family: Helvetica, Arial, sans-serif;
	margin :auto;
	
}


h1 {

	font-size: 3rem;

}

h2{

	font-size: 2rem;
}

p {
	font-size: 1rem;
}

/* This where heading and nav start */

.container {
 	width: 100%;
 	max-width: 1016px;
 
 }

 .header { 
	max-width: 1016px;
	max-height: 20%;
	background-image: url("../images/banner2.png");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0;
	margin-right: auto;
	margin-left: auto;
	
 
}

  .header h1{
 	font-family:"garamond-premier-pro-display";
 	font-size: 1rem;
 	font-weight: 600;
 	color: #FFFFFF;
 	font-variant: small-caps;
 	padding-left: 1rem;
 	padding-top: 1rem;
 	padding-bottom: -1rem;

 }

 .nav ul {
	list-style: none;
	margin: 0;
	color:black;
	padding-right: 1rem;
	padding-left: 1rem;
	margin-top: 1rem;
	margin-bottom: 2em;

}

 .nav > li > a:hover { 
    background-color: transparent; 
    text-decoration: none;
	color: black;
	border: none;
}
.nav > li {
	border-bottom:1px solid black;
	
	}

ul li {
	margin-top: .25rem;
	min-width: 100%;
	max-width: 1016px;
	float:left;
	width: 12rem;
	text-align: center;
	font-family: "adobe-garamond-pro";
	font-weight: 400;
	

}

ul li:hover {
	font-family: "adobe-garamond-pro";
	font-weight: 700;
	background-color: none;


}

 a {
	color: inherit;
	text-decoration: none;

}



a:focus {

	color: inherit;
}


.current {

	font-family: "adobe-garamond-pro";
	font-weight: 700;
	
}
/* article */
 
.about {
 	
 	width: 100%;
 	height: 475px;
 	background-image: url('../images/frontimage.jpg');
 	background-repeat: no-repeat;
 	background-size: cover;
 	border-radius: 20px;
 }

 .about p{
 	height: 100%;
 	max-width:500px;
 	background-color:rgba(255,255,255,0.5);
 	font-family: "adobe-garamond-pro";
 	padding-top: 2rem;
 	padding-left: 1rem;
 	padding-right: 1rem;

 }


 .guitar p{
	font-family: "adobe-garamond-pro";
 	font-size: 1rem;

 }
 .guitar img{
 	border-radius: 20px;
 }

 .heading{
 	font-family: "adobe-garamond-pro";
 	font-size: 3rem;
 }
 
.guitar{
	font-family: "adobe-garamond-pro";
	font-size: 1rem;
}

 .attributes{ 
 	width: 800px;
 	clear: both;
 	margin-left: 0;
 	padding-top: 75px;

}	

.attribtutes p {
	font-family: "Museo Sans Rounded 500";
	font-size: .75rem;
}

.attribtutes strong {
	font-family: "Museo Sans Rounded 700";
	font-size: .75rem;
}

 
 .material{
 	float:left;
 }

 .year{
 	float:right;
 }



 .material p{
	font-family: "Museo Sans Rounded";
	font-size: 1rem;
	font-weight: 300;
	b
}

.material strong{
	font-family: "Museo Sans Rounded";
	font-size: 1rem;
	font-weight: 500;
}

.year p{
	font-family: "Museo Sans Rounded";
	font-size: 1rem;
	font-weight: 300;
}

.year strong{
	font-family: "Museo Sans Rounded";
	font-size: 1rem;
	font-weight: 500;
}

 .box {
 	min-width: 320px;
 	height: 475px;
 	background-image: url('../images/frontimage.jpg');
 	background-repeat: no-repeat;
 	background-size: cover;
 	border-radius: 20px;
 	position: relative;
 }

 .box p{
 	min-width: 320px;
 	background-color:rgba(255,255,255,0.5);
 	font-family: "adobe-garamond-pro";
 	padding-top: 2rem;
 	padding-left: 1rem;
 	padding-right: 1rem;
 	border-radius: 20px;
 	position: absolute;
 	left: 0;
 	top: 0;
 }

 .collections {
	margin-top:3rem;
 }


.collections img {
	max-width: 75%;
	display: block;
	opacity: 0.5;
	
}

.collections img:hover {
	opacity: 1.0;
}

/*footer*/


footer{
	margin-top: 3rem;
}

.footer img{
	display: inline-block;
	width: 2rem;
	opacity: .50;
	padding-left: 3px;
	padding-right: 3px;
	
	
	}

	.footer img:hover{
		opacity: 1.0;
	}

	
.contact p{
	font-family: "museo-sans-rounded";
	font-size: .5rem;
	font-weight: 300;
	padding-left: 2rem;
}

.contact strong{
	font-family: "museo-sans-rounded";
	font-size: .5rem;
	font-weight: 500;
}



.sitemap ul{
	list-style: none;
	margin: 0;
	color:black;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 15px;
	margin-bottom: 45px;
	width: 20

}

sitemap > li{
	display: inline;
	width: 20%;
	float: left;
}



.copyright p {
	text-align: center;
	font-family: "museo-sans-rounded";
	font-size: .75rem;
	font-weight: 300;
}

/* media queries */ 





	



























